[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = http://github.com/mitechie/pyflakes-pathogen.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip
        ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/virtualenv"]
	path = bundle/virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
        ignore = untracked
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
        ignore = untracked
[submodule "bundle/flake8"]
	path = bundle/flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim-flavored-markdown"]
	path = vim-flavored-markdown
	url = https://github.com/jtratner/vim-flavored-markdown.git
[submodule "bundle/flavored-markdown"]
	path = bundle/flavored-markdown
	url = https://github.com/jtratner/vim-flavored-markdown.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/jedi"]
	path = bundle/jedi
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "bundle/sort-python-imports"]
	path = bundle/sort-python-imports
	url = git@nekolyanich.com:sort-python-imports
[submodule "bundle/vim-protobuf"]
	path = bundle/vim-protobuf
	url = git://github.com/uarun/vim-protobuf.git
[submodule "bundle/vim-postgres"]
	path = bundle/vim-postgres
	url = https://github.com/ivalkeen/vim-postgres
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git://github.com/elzr/vim-json.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/MatchTagAlways"]
	path = bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/coffee"]
	path = bundle/coffee
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/move"]
	path = bundle/move
	url = https://github.com/matze/vim-move
[submodule "bundle/plantuml"]
	path = bundle/plantuml
	url = https://github.com/aklt/plantuml-syntax.git
[submodule "bundle/orgmode"]
	path = bundle/orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "bundle/indentline"]
	path = bundle/indentline
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/pandoc-syntax"]
	path = bundle/pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "bundle/easy-align"]
	path = bundle/easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/isort"]
	path = bundle/isort
	url = https://github.com/fisadev/vim-isort.git
[submodule "bundle/riv"]
	path = bundle/riv
	url = git@github.com:Rykka/riv.vim.git
[submodule "bundle/InstantRst"]
	path = bundle/InstantRst
	url = git@github.com:Rykka/InstantRst.git
